name: CI 

on: [push, pull_request]

jobs:
    build-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with: 
                node-version: '200'

            - name: Instalar dependências (API e Web)
              run: | 
                cd apps/api && npm ci
                cd ../../apps/web && npm ci

            - name: Instalar navegadores do Playwright
              run: cd apps/web && npx playwright install --with-deps

            - name: Rodar Testes E2E (Playwright)
              run: |
                    cd apps/api
                    npm start &
                    cd ../..

                    cd apps/web
                    npm run dev &
                    cd ../..

                    echo "Esperando 15s para os servidores subirem..."
                    sleep 15

                    cd apps/web && npx playwright test
            - name: Build web
              run: cd apps/web && npm run build

            - name: Upload Relatório Playwright
              uses: actions/upload-artifact@v4
              if: always()
              with:
                name: playwright-report
                path: apps/web/playright-report/
                retention-days: 7
            
            - name: Upload artefatos (web-dist)
              uses: actions/upload-artifact@v4
              with:
                    name: web-dist
                    path: apps/web/dist